version: "3"
services:
#   create `hive` and `default` buckets
#   upload test data to minio
  mc:
    image: minio/mc:RELEASE.2020-04-25T00-43-23Z
    entrypoint: >
      /bin/sh -c "
      mc config host add super-puper-config http://minio:9000 minio minio123 && \
        mc mb super-puper-config/hive && \
        mc mb super-puper-config/default && \
        mc cp /tmp/iris.csv super-puper-config/hive/warehouse/iris/iris.csv || exit 1;"
    volumes:
      - "./etc/dummy-data/iris.csv:/tmp/iris.csv"

networks:
  default:
    external:
      name: hive-test
